###########################################################
###################### General Setup ######################
###########################################################

### Paths #################################################

HOST_SOURCE_PATH=c:\sources

HOST_CONTAINER_DATA=./data

### Drivers ################################################

# All volumes driver
VOLUMES_DRIVER=local

# All Networks driver
NETWORKS_DRIVER=bridge

### Docker compose files ##################################

# Select which docker-compose files to include. If using docker-sync append `:docker-compose.sync.yml` at the end
COMPOSE_FILE=docker-compose.yml

# Change the separator from : to ; on Windows
COMPOSE_PATH_SEPARATOR=:

### Docker Host IP ########################################
# Enter your Docker Host IP (will be appended to /etc/hosts). Default is `10.0.75.1`
DOCKER_HOST_IP=192.168.0.200

###########################################################
################ Containers Customization #################
###########################################################

TIMEZONE=UTC

### HTTPD #################################################
HTTPD_HOST_HTTP_PORT=80
HTTPD_HOST_HTTPS_PORT=443
HTTPD_HOST_LOG_PATH=/httpd/logs/
HTTPD_CONF_PATH=/httpd/conf/
HTTPD_DOCUMENT_ROOT=/sources
HTTPD_SSL_PATH=/httpd/ssl/
HTTPD_PHP_UPSTREAM_CONTAINER=php7

### PHP7 #################################################

PHP7_HOST_XDEBUG_PORT=9000
PHP_TIMEZONE=America/Sao_Paulo

### MARIADB #################################################
MARIADB_VERSION=latest
MARIADB_DATABASE=default
MARIADB_USER=local
MARIADB_PASSWORD=password
MARIADB_PORT=3306
MARIADB_ROOT_PASSWORD=root
MARIADB_ENTRYPOINT_INITDB=./mariadb/docker-entrypoint-initdb.d

### NODE #################################################
NODE_HOST_PORT=3000